<!-- Clients Aside -->
<aside class="clients" style="background-color: #88685D; padding: 30px; text-align: center;">
    <div class="container">
        <div class="row align-items-center" style="row-gap: 20px;">
            <div class="col-md-6 text-left-center">
                <h2 class="section-heading" style="margin: 0; color: white; text-transform: Highercase;"> Empower businessess <br> designed for success</h2>
            </div>
            <div class="col-md-6 text-center">
                <h3 class="section-subheading" style="margin: 4px 0 0 0; color: white; text-transform: lowercase; opacity: 0.67; text-align: justify; font-size: 1em;">
                    We deliver tailored digital solutions to boost efficiency, enhance security, and elevate your online presence. Committed to high-quality services that align with your goals, we help you stay ahead in a  fast-changing digital world.
                </h3>
            </div>
        </div>
    </div>
</aside>

<style>
    @media (max-width: 768px) {
        .section-subheading {
            text-align: center; /* Center-align subheading on mobile devices */
        }
    }
</style>