<footer style="background-color: #553D34;">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {% for network in site.social %}
                    <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4"></div> <!-- Empty column for spacing -->
            <div class="col-md-4 text-md-right text-center">
                <span class="copyright"> &copy; All Rights reserved.</span>
            </div>
        </div>
    </div>
</footer>
